<form [formGroup]='registerForm' (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="text">
    </mat-form-field>    
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
    </mat-form-field> 
      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input formControlName="repeatPass" matInput type="password"> 
    </mat-form-field> 
    <button mat-raised-button>Register</button>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">Switch to login</a>
</form> 


