<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="text">
    </mat-form-field>    
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
    </mat-form-field>
    <button mat-raised-button>Login</button>
    <a [routerLink]="['/register']" routerLinkActive="router-link-active">Switch to register</a>
</form>  
 
   