


form {
    position: relative;
    text-align: center;
    height: 100%;
}

mat-form-field {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.clear-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.add-icon {
    font-size: 2rem;
    // color: #3f51b5;
}

footer {
    margin-top: 1rem;
}
